@model List<LabTask1.Models.StudentModel>

@{
    ViewBag.Title = "Student";
}

<h1>Student Info</h1>

<div class="contener">
    <table class="table table-hover">
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">ID</th>
            <th class="text-center">Date of Birth:</th>
            <th class="text-center">CGPA</th>
            <th class="text-center">Credit</th>
            <th class="text-center">Department ID</th>
            <th class="text-center"></th>
            <th class="text-center"></th>
        </tr>
        @foreach (var StudentModel in @Model)
        {
    <tr>
        <td>@StudentModel.ID</td>
        <td>@StudentModel.Name</td>
        <td>@StudentModel.DoB</td>
        <td>@StudentModel.CGPA</td>
        <td>@StudentModel.Credit</td>
        <td>@StudentModel.DepID</td>
        <td><a class="btn btn-success" href="/Home/Student/@StudentModel.ID">Edit</a></td>
        <td><a class="btn btn-danger">Delete</a></td>
    </tr>
        }
    </table>
</div>







