@model LabTask1.Models.StudentModel

@{
    ViewBag.Title = "Student";
}

<h1>Student Info</h1>
<p>
    Name: @Model.Name
    ID: @Model.ID
    Date of Birth: @Model.DoB
    CGPA: @Model.CGPA
    Credit: @Model.Credit

</p>
